@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    box-sizing: border-box;
    /* border: 0.01px solid red; */
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

body {
    background-color: lightgray;
}

/* navbar css */
.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    z-index: 1;
}

.brand {
    display: flex;
    flex-direction: row;
}
.navbar .logo_img{
    margin-top: 8px;
    margin-left: 25px;
}

.navbar .logo_img img {
    width: 40.8px;
    height: 40.8px;
}

.navbar .brand_name {
    margin: 0.5rem;
    font-size: 1.7rem;
    color: red;
    text-decoration: none;
}

.navbar_links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar_links li {
    list-style: none;
}

.navbar_links li a {
    text-transform: uppercase;
    text-decoration: none;
    color: steelblue;
    font-size: 1.1rem;
    padding: 1rem;
    display: block;
}

.navbar_links li a:hover {
    background-color: lightgray;
    color: red;
}

.navbar_links li a.active {
    background-color: #555;
    color: red;
}

/* toggle button */
.toggle_btn {
    position: absolute;
    top: 0.95rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 1.6rem;
    width: 1.6rem;
    cursor: pointer;
}

.toggle_btn .bar {
    height: 0.15rem;
    width: 100%;
    background-color: red;
    border-radius: 3px;
}

/* For 600px viewport start */
@media (max-width: 800px) {
    .toggle_btn {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar_links {
        height: 0;
        display: none;
        width: 100%;
    }

    .navbar_links ul {
        width: 100%;
        flex-direction: column;
        /* border-top: 1px solid white; */
        border-bottom: 1px solid #333;
    }

    .navbar .brand .logo_img{
        margin-left: 0;
    }
    .navbar_links li {
        flex-direction: column;
        text-align: center;
    }

    .navbar_links li a {
        padding: .5rem;

    }

    .navbar_links.active {
        display: flex;
        height: max-content;
        transition: all 2s;
    }
}