/* this css content the sidebar and content */
.subnav {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #666;
    display: none;
}

.subnav .toggle_btn_2 {
    width: 45px;
    display: flex;
    flex-direction: column;
    padding: .2rem .2rem;
    margin: 0;
}

.subnav .toggle_btn_2 .bar {
    width: 30px;
    height: 5px;
    margin: 2px;
    background-color: red;
}

.container {
    display: flex;
    flex-direction: row;
}

/* sidebar css */
.sideBar {
    display: flex;
    min-width: 200px;
    min-height: 800px;
    flex-direction: column;
    background-color: #333;
}

.sideBar .topic {
    width: 100%;
    font-size: 2rem;
    color: red;
    background-color: transparent;
    text-align: center;
    border: 2px solid red;
}

.sideBar a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #333;
    color: steelblue;
    padding: 6px 15px 6px 15px;
}

.sideBar a::after {
    content: " .";
}

.sideBar a:hover {
    border-top: 0.5px solid #333;
    border-bottom: 0.5px solid #333;
    background-color: lightgray;
    color: red;
}

/* .sideBar a.active {
    background-color: white;
    color: #333;
    border-top: 0.5px solid #333;
} */
.content {
    width: 70%;
    padding: 0;
    padding-left: .5rem;
    margin: 0;
    color: #333;
}

.content .heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    margin: 0;
    border-bottom: 1px solid #333;
}

/* contentData css start here */
.content .contentData {
    padding: 2rem;
    color: navy;
    line-height: 2rem;
    font-size: 1.3rem;
    text-transform: capitalize;
}

/* this css class are made to add css for contentData */
.group {
    margin-bottom: 1.5rem;
}

.subHeading {
    color: red;
    font-size: 2rem;
    line-height: 3rem;
}

.highLight {
    color: orange;
}

@media (max-width: 1000px) {
    .subnav {
        display: flex;
        position: sticky;
        top: 56.8px;
    }

    .toggle_btn_2 {
        display: block;
    }

    .sideBar {
        display: none;
    }

    .sideBar.active {
        display: flex;
        position: fixed;
        height: calc(100% - 56.8px);
    }

    .content {
        width: 100%;
        padding: 0;
    }

    .content .contentData {
        padding: 0.5rem;
    }
}
